html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
article, aside, figure, footer, header, hgroup, nav, section { display:block; }
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }


body { font:13px sans-serif; *font-size:small; *font:x-small; line-height:1.22; }
table { font-size:inherit; font:100%; }
select, input, textarea { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

body, select, input, textarea { color:#444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; text-rendering: optimizeLegibility; }
html { -webkit-font-smoothing: antialiased; }
a:hover, a:active { outline: none; }
a, a:active, a:visited { color:#607890; }
a:hover { color:#036; }
ul { margin-left:30px; }
ol { margin-left:30px; list-style-type: decimal; }
small { font-size:85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align:top; }
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { padding: 15px; white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }

input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }

a:link { -webkit-tap-highlight-color: #FF5E99; }


html { overflow-y: scroll; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display:block; text-indent:-999em; overflow:hidden; background-repeat: no-repeat; }
.hidden { display:none; visibility:hidden; }
.visuallyhidden { position:absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }


 /* Primary Styles
    Author:
 */











/*
 * print styles
 */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; }
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}



@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

/* Grade-A Mobile Browsers */
@media screen and (max-device-width: 480px) {
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; }
}

#main {
  width: 960px;
  margin: 0 auto;
}

#buttons {
  text-align: center;
  height: 460px;
}

#buttons a {
  cursor: pointer;
  margin: 0 30px 40px 30px;
  display: block;
  float: left;
  width: 180px;
  height: 113px;
  background: transparent url('../images/button.png');
  line-height: 100px;

  font-family: Georgia, serif;
  color: #444;
  font-size: 11px;
  font-weight: bold;
}

#buttons a img {
  width: 180px;
}

* {
  font-family: 'lucida grande';
}

#instructions {
  display: none;
  padding-left: 20px;
  height: 40px;
}

#pic {
  width: 180px;
  background: transparent url('../images/joel-bauer.jpg') no-repeat center right;
  height: 100px;
  margin: 0 30px 40px 30px;
  float: left;
}

#top-bar, #bottom-bar {
  background: #111;
  padding: 10px;
  color: white;
  height: 40px;
  font-weight: bold;
}

#top-bar {
  margin: 30px 0;
}

#top-bar h1 {
  font-size: 18px;
  line-height: 38px;
  text-align: center;
}

#bottom-bar {
  margin-top: 10px;
  position: relative;
}

#bottom-bar a {
  display: block;
  float: left;
  padding: 10px 20px 0;
  font-size: 12px;
  color: #fff;
}

#fb {
  position: absolute;
  margin-top: 8px;
  right: -100px;
}


/* ------------------------ */
/* ---------Share---------- */
/* ------------------------ */

#sharelinks .email a      {background:url("../images/share_email.png")    no-repeat scroll transparent; background-position: 0 -31px;}
#sharelinks .tumblr a     {background:url("../images/share_tumblr.png")   no-repeat scroll transparent; background-position: 0 -31px;}
#sharelinks .twitter a    {background:url("../images/share_twitter.png")  no-repeat scroll transparent; background-position: 0 -31px;}

.share_wrapper {text-align: center; margin-bottom: 20px;}
.sharelinks_wrapper {text-align: center; margin: 0 auto; width: 200px;}
#sharelinks li {float: left; margin: 0 5px; display: inline; width: 30px; height: 30px;}
#sharelinks span {display: none;}
#sharelinks a {display: block; height: 30px; width: 30px;}
#sharelinks .email a:hover {background-position: 0 -62px; cursor: pointer;}
#sharelinks .email a:active {background-position: 0 0; cursor: pointer;}
#sharelinks .tumblr a:hover {background-position: 0 -62px;}
#sharelinks .tumblr a:active {background-position: 0 0;}
#sharelinks .twitter a:hover {background-position: 0 -62px;}
#sharelinks .twitter a:active {background-position: 0 0;}
.buttontext {font-size: 12px; margin-bottom: 20px; text-align: center;}

